html, body {
	position: relative;
	// width: 100%;
	// height: 100%;
}

.content-scroll {
	max-width: none;
}

.l-container {
	padding: 20px 20px;
}

.share-block {
	margin: 20px 0;
}

@keyframes fadeIn {
	from { opacity: 0 }
}

h1 {
  font-family: "Whitman Display", Georgia, serif;
	font-size: 60px !important;
	font-weight: 400 !important;
	margin-top: 10px;
  // margin: 0 auto;
  // max-width: 650px;
}

h2 {
	font-family: "Benton Sans", sans-serif !important;
	font-weight: bold;
	font-size: 1.5em !important;
}

h3 {
	font-family: "Benton Sans", sans-serif !important;
	font-weight: bold;
	font-size: 1.2em !important;
}

h4 {
	font-family: "Benton Sans", sans-serif;
	font-weight: 400;
	font-size: 13px;
}

p.lastUpdated {
	font-family: "Benton Sans", sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #888888;
	margin-top: 0;
	margin-bottom: 10px;
}

.updatedTime {
	// -webkit-transition: fadeIn 1s 3 alternate;
	// -moz-transition: fadeIn 1s 3 alternate;
	// -ms-transition: fadeIn 1s 3 alternate;
	// -o-transition: fadeIn 1s 3 alternate;
	// animation: fadeIn 1s 3 alternate;
}

.updates {
	// background-color: #F5F5F5;
	// padding: 10px 10px;
	text-align: center;
	display: block;
	margin: 0 auto;
	max-width: 275px;
	margin-bottom: 20px !important;

	p {
		margin-top: 4px;
		margin-bottom: 0;
	}

	p.countdown {
		font-family: "Benton Sans", sans-serif;
		font-size: 12px;
	}
}

.leadin {
	text-align: center;
	margin-bottom: 75px;
	margin-top: 65px;

	p {
		font-family: "Poynter Serif RE",Georgia,Times,serif !important;
		text-align: left;
		max-width: 550px;
		font-size: 16px;
		margin: 15px auto;
		line-height: 140%;
	}

	a {
		color: #1d78af;
	}

	.elexLogo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-bottom: 35px;

		img {
			width: 50px;
		}

		.text {
			font-family: "Benton Sans", sans-serif !important;
			margin-right: 5px;

		}

		h3 {
			font-family: "Popular", sans-serif !important;
			margin-bottom: 0 !important;
			margin-top: 0 !important;
		}
	}
}

.results {
	display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.results svg {
	// margin-left: 50px;
}

p.asterisk {
	font-family: "Benton Sans", sans-serif;
  font-size: 12px;
  color: #a0a0a0;
	margin-bottom: 0 !important;

	span {
		font-size: 14px;
	}
}

#map {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 100px !important;
	// height: auto;
	// display: flex;
	// display: block;
	// margin: 0 auto;

	input {
    height: 2rem;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
		font-family: "Benton Sans", sans-serif;
  }

	.county_input {
		margin-top: 5px;
		width: 250px;
		border: 1px solid #E0E0E0;
	}

	.tableWrapper table {
		margin-top: 15px;
	}
}

#candidate-support {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 65px;

	h2 {
		margin-bottom: 0;
	}

	h4 {
		font-family: "Benton Sans", sans-serif;
		font-size: 16px;
		font-weight: bold;
		// margin-bottom: 0 !important;
	}

	h5 {
		font-family: "Benton Sans", sans-serif;
		font-size: 13px;
		margin-bottom: 26px;
		font-weight: normal;
	}

	p {
		font-family: "Benton Sans", sans-serif;
		font-size: 15px !important;
		margin-top: 7px;
		margin-bottom: 30px !important;
	}

	#geography .small-maps{
		justify-content: space-between;
		margin-bottom: 60px;
	}

	#demographics-groups {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		p {
			font-size: 13px !important;
			margin-bottom: 15px !important;
		}

		h3 {
			font-size: 16px !important;
		}

		.demographic-chart {
			width: 100%;
			height: 80px;
			margin-top: 25px;
			margin-bottom: 50px;
		}

		.county-circle-center {
			fill: #FFF;
			fill-opacity: 1;
			pointer-events: none;
		}

		h5.chart-label {
			margin: 0;
			margin-top: -100px;
		}

		svg {
			overflow: visible;
		}

		svg .chart-labels,
		svg .chart-tooltip-stuff {
			font-size: 11px;
			font-weight: 500;
			font-family: "Benton Sans", sans-serif;
		}

		svg .median-label {
			fill: #BBB;
		}

		svg .x-axis {
			stroke: #000;
			stroke-width: 0.5;
		}

		svg .votes-tooltip-dagger {
			opacity: 0;
			stroke: #000;
			stroke-width: 0.5;
		}

		svg .median {
			stroke: #BBB;
			stroke-width: 1.5;
			stroke-dasharray: 4;
		}

		.votes-tooltip {
			opacity: 0;
			font-size: 11px;
			font-weight: 500;
			font-family: "Benton Sans", sans-serif;
		}
	}
}

#delegate-tracker {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 45px;

	h2 {
		margin-bottom: 0;
	}

	p {
		font-family: "Benton Sans", sans-serif;
		font-size: 15px !important;
		margin-bottom: 15px;
		margin-top: 7px;
		max-width: 800px;
	}
}

.precincts {
	font-family: "Benton Sans", sans-serif;
	font-style: italic;
	font-size: 12px;
	color: #A0A0A0;
	margin-top: 6px !important;
}

#related {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 100px;

	.relatedContainer {
		background-color: #D0D0D0;
		padding: 15px 15px;
	}

	.relatedLink {
		color: black;
		text-decoration: none;
		display: inline-block;
	}

	h2 {
		margin-bottom: 6px;
		font-size: 22px !important;
	}

	.relatedLink:hover {
		text-decoration: underline;
	}

	p {
		font-family: "Benton Sans", sans-serif;
		font-size: 14px;
	}
}

#credits {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 125px;
	p {
		font-family: "Benton Sans", sans-serif;
		font-size: 12px;
		color: #989898;
		margin-top: 16px !important;
		margin-bottom: 16px !important;
	}
}

@media (max-width: 800px) {
	.results {
		justify-content: center;
		flex-wrap: wrap;
	}

	#map {
		margin-bottom: 15px !important;
	}

	#related {
		margin-bottom: 12px !important;
	}
	#candidate-support {
		margin-bottom: 15px !important;
	}
}

@media (max-width: 600px) {
	#candidate-support #demographics-groups {
		flex-direction: column;
		justify-content: center;
	}

	#candidate-support #geography .small-maps{
		justify-content: center;
	}

	.leadin .leadinDesktop {
		display: none;
	}

	.leadin {
		margin-top: 15px !important;
	}
}

@media (max-width: 450px) {
	h1 {
		font-size: 60px !important;
		line-height: 65px
	}

	.leadin p {
		font-size: 15px;
	}
}
