$candColors: (
  bennet: #C0FBFC,
  biden: #C2DFE3,
  bloomberg: #9DB4C0,
  buttigieg: #7E9181,
  gabbard: #B7B5E4,
  klobuchar: #8A4FFF,
  patrick: #7371FC,
  sanders: #3C91E6,
  steyer: #85BAA1,
  warren: #A2D729,
  yang: #A6FFA1,
  uncommitted: #F5F5F5,
  other: darkgrey
);

@each $cand, $color in $candColors {
  .leader-#{$cand} {
    fill: $color;
  }

  .density-#{$cand} {
    fill: $color;
  }

  .circle-#{$cand} {
    fill: $color;
    fill-opacity: 0.5;
    stroke-width: 1;
    stroke-opacity: 1;
    stroke: $color;
  }

  .legend-#{$cand} {
    height: 10px;
    width: 10px;
    background-color: $color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px !important;
  }

  // .legend-#{$cand}.noWinner {
  //   display: none;
  // }

  .winner .legend-#{$cand} {
    height: 10px;
    width: 10px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px !important;
  }
}

.no-winner {
  background-color: white;

  span {
    display: none !important;
  }
}



.cities {
  pointer-events: none;
}

.tie {
  fill: #D0D0D0;
}

.no-results {
  fill: #E8E8E8;
}

.no-votes {
  fill: white;
}

.cities .cityLabel {
  font-size: 10px;
  font-family: "Benton Sans", sans-serif;
  fill: white;
}

.cities .cityDot {
  fill: white;
}

.county-map-tooltip {
  position: absolute;
  top:0;
  left:0;
  display:none;
  z-index: 100;
  max-width: 15em;
  font-size: 0.8em;
  background-color: #ffffff;
  border: 1px solid #565656;
  border-radius: 2px;
  margin: 0.5em;
  padding: 0.5em;

  h4 {
    padding-top: 0;
    margin-top: 0;
    font-size: 1em !important;
  }

  td {
    font-size: 0.9em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }

  .map-cand {
    padding-left: 0px;
  }

  .map-votes,
  .map-pct {
    padding-right: 0.5px;
    text-align: right;
  }

  &.tooltip-hover-region-top {
    top: auto;
    bottom: 0;
  }

  &.tooltip-active {
    display: block;
  }
}

#density-maps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-between;
  max-width: 1000px;
}

.county-map {
  width: 550px;
  height: auto;
  /* width: 100%; */
  // background-color: "#eeeeee";
  // float: right;
  /* margin: 0 auto;*/
  // position: relative;
}
// .resultsMap {
//   max-width: 650px;
//   max-height: 650px;
// }

.provinceShape {
  /* fill: #f5f5f5; */
  /* fill: grey; */
  stroke: white;
  stroke-width: 0.5;
}

// IE11 needs a specific height
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .county-map {
    height: 400px;
  }
}
