// $candColors: (
//   bennet: #C0FBFC,
//   biden: #C2DFE3,
//   bloomberg: #9DB4C0,
//   buttigieg: #7E9181,
//   gabbard: #B7B5E4,
//   klobuchar: #8A4FFF,
//   patrick: #7371FC,
//   sanders: #3C91E6,
//   steyer: #85BAA1,
//   warren: #A2D729,
//   yang: #A6FFA1,
//   uncommitted: #F5F5F5,
//   other: darkgrey
// );

$candColors: (
  sanders: #528CAE,
  buttigieg: #755893,
  klobuchar: #65935F,
  biden: #BED6E5,
  bloomberg: #BEBADA,
  warren: #C6D99E,

  steyer: #9F9F9F,
  gabbard: #9F9F9F,
  other: #9F9F9F,
  uncommitted: #9F9F9F,

  // dropped out
  booker: #9F9F9F,
  patrick: #9F9F9F,
  bennet: #9F9F9F,
  yang: #9F9F9F,
);

@each $cand, $color in $candColors {
  .leader-#{$cand} {
    fill: $color;
  }

  .density-#{$cand} {
    fill: $color;
  }

  .circle-#{$cand} {
    fill: $color;
    fill-opacity: 0.5;
    stroke-width: 1;
    stroke-opacity: 1;
    stroke: $color;
  }

  .legend-#{$cand} {
    height: 10px;
    width: 10px;
    background-color: $color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px !important;
  }

  .noWinner.legend-#{$cand} {
    height: 10px;
    width: 10px;
    background-color: $color;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px !important;
  }

  // .legend-#{$cand}.noWinner {
  //   display: none;
  // }

  .winner .legend-#{$cand} {
    height: 10px;
    width: 10px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px !important;
  }
}

#resultsMap {
  margin-left: 15px;
  max-width: 500px;
}

.no-winner {
  background-color: white;

  span {
    visibility: hidden !important;
  }
}

.cities {
  pointer-events: none;
}

.tie {
  fill: url(#lightstripe) #a0a0a0;
  // background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgogIDxyZWN0IHdpZHRoPSc1JyBoZWlnaHQ9JzUnIGZpbGw9J3doaXRlJy8+CiAgPHBhdGggZD0nTTAgNUw1IDBaTTYgNEw0IDZaTS0xIDFMMSAtMVonIHN0cm9rZT0nIzg4OCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg=="); background-repeat: repeat;
}

.mapTie {
  font-family: "Benton Sans", sans-serif;
  font-size: 12px;
  color: #A0A0A0;
  margin-top: -20px;
}

.no-results {
  fill: #E8E8E8;
  // background: linear-gradient(45deg, red, blue);
}

.no-votes {
  fill: white;
  transition: fill 1s;
}

.cities .cityLabel {
  font-size: 10px;
  font-weight: 500;
  font-family: "Benton Sans", sans-serif;
  fill: #fff;
  text-shadow: 1px 1px 3px #000000;
}

.cities .cityDot {
  fill: #fff;
  stroke: #000;
  stroke-width: 0.5;
  stroke-opacity: 0.6;
}

.county-map-tooltip {
  position: absolute;
  top:0;
  left:0;
  display:none;
  z-index: 100;
  max-width: 15em;
  font-size: 0.8em;
  background-color: #ffffff;
  border: 1px solid #565656;
  border-radius: 2px;
  margin: 0.5em;
  padding: 0.5em;

  h4 {
    padding-top: 0;
    margin-top: 0;
    font-size: 1em !important;
  }

  td {
    font-size: 0.9em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }

  .map-cand {
    padding-left: 0px;
  }

  .map-votes,
  .map-pct {
    padding-right: 0.5px;
    text-align: right;
  }

  &.tooltip-hover-region-top {
    top: auto;
    bottom: 0;
  }

  &.tooltip-active {
    display: block;
  }
}

#density-maps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;

  h5 {
  	font-family: "Benton Sans", sans-serif;
  }
}

.county-map {
  width: 550px;
  height: auto;
  /* width: 100%; */
  // background-color: "#eeeeee";
  // float: right;
  /* margin: 0 auto;*/
  // position: relative;
}
// .resultsMap {
//   max-width: 650px;
//   max-height: 650px;
// }

.provinceShape {
  /* fill: #f5f5f5; */
  /* fill: grey; */
  stroke: white;
  stroke-width: 0.5;
  -webkit-transition: fill 500ms ease;
  -moz-transition: fill 500ms ease;
  -ms-transition: fill 500ms ease;
  -o-transition: fill 500ms ease;
  transition: fill 500ms ease;
}

#Twin-Cities-label {
  text-anchor: end;
  transform: translate(-2px, 2px);
}

// IE11 needs a specific height
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .county-map {
    height: 400px;
  }
}

@media (max-width: 500px) {
	#density-maps {
		justify-content: center;
	}
}
