.otherStoriesMobile {
  display: none;
}

.promos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  h3 {
    font-family: "Benton Sans", sans-serif;
    font-size: 18px !important;
  }

  ul {
    margin-top: 0;
    padding-left: 20px;
  }

  div {
    max-width: 300px;
    text-align: left;
    height: 200px;
  }

  li {
    font-size: 14px;
  }

  a {
    text-decoration: underline;
    color: #1d78af;
    font-family: "Benton Sans", sans-serif;
  }
}

@media (max-width: 800px) {
	.promos {
    justify-content: center;
  }

  .otherStories {
    display: none;
  }

  .otherStoriesMobile {
    display: block;
  }
}

@media (max-width: 425px) {
	#density-maps {
		justify-content: center;
	}
}
