

.tableWrapper {
  margin-top: 50px;
    h2 {
      margin-bottom: 2px;
    }
}

table {
  font-family: "Benton Sans", sans-serif;
  max-width: 350px;
}

th {
  text-align: left;
}

.tableResults  {
  border-collapse: collapse;
  border-spacing: 0;

  thead th {
    text-transform: uppercase;
    color: #A0A0A0;
    font-size: 12px;
    font-weight: 400;
    border-bottom: 2px solid #A9A9A9;
    padding: 3px 3px;
  }

  thead th:nth-of-type(1) {
    visibility:hidden;
  }

  tbody td {
    padding: 6px 4px;
    border-bottom: 1px solid #E0E0E0;
  }

  .cand {
    // display: flex;
    // align-items: center;
    valign: baseline;
    width: 200px;
    padding-left: 8px;
  }

  .votes {
    width: 75px;
    text-align: right;
  }

  .pct {
    width: 50px;
    text-align: right;
  }

  .winner {
    background-color: #F0F0F0;
  }
}

// TOOLTIP table

.county-map-tooltip {
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  thead th {
    text-transform: uppercase;
    color: #A0A0A0;
    font-size: 9px;
    font-weight: 400;
    border-bottom: 2px solid #909090;
    padding: 2px 2px;
  }

  thead th:nth-of-type(1) {
    visibility:hidden;
  }

  tbody td {
    padding: 4px 2px;
    border-bottom: 1px solid #D8D8D8;
  }

  h4 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
  }

  .cand {
    width: 25%;
  }

  .votes {
    width: 30%;
    text-align: right;
  }

  .pct {
    width: 10%;
    text-align: right;
  }

  .precincts {
    margin-top: 3px;
    font-size: 10px;
  }
}

@media (max-width: 425px) {
	.tableWrapper {
    margin-top: 0;
  }

  .tableResults  {
    border-collapse: collapse;
    border-spacing: 0;

    thead th {
      text-transform: uppercase;
      color: #A0A0A0;
      font-size: 10px;
      font-weight: 400;
      border-bottom: 2px solid #A9A9A9;
      padding: 3px 3px;
    }

    tbody td {
      padding: 6px 4px;
      border-bottom: 1px solid #E0E0E0;
      font-size: 13px;
    }

    .cand {
      // display: flex;
      // align-items: center;
      valign: baseline;
      width: 200px;
      padding-left: 8px;
    }

    .votes {
      width: 75px;
      text-align: right;
    }

    .pct {
      width: 50px;
      text-align: right;
    }

    .winner {
      background-color: #F0F0F0;
    }
  }
}
